<!-- <!DOCTYPE html>
<html ng-app="btnLog"> 
	<head>
		<title>Part 1</title>
		<link rel="stylesheet" type="text/css" href="js4-1.css"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script type="text/javascript" src="js4-1.js"></script>
	</head>
	<body ng-controller="btnLogController"> 

	<button ng-click="clickMe()">Click me</button>
	<h1 ng-show="showMe">Hidden button message!</h1>

	<button ng-click="clickMenu()">Menu</button>
	<ul ng-show="showMenu">
		<li>Sandwich</li>
		<li>Hot Dog</li>
		<li>Soup</li>
	</ul>

	</body>
</html> -->

<!-- <!DOCTYPE html>
<html ng-app='hotMod'>
	<head>
		<title>Part 2</title>
		<link rel="stylesheet" href="js4-1.css"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script type="text/javascript" src="js4-1.js"></script>
	</head>
	<body ng-controller='hotRoller'>
		<div class="header">
			<ul class="navbar">
				<li class="nav"><a href="http://google.com" ng-click="linkClick($event, 'exercises')" ng-hide="hideLinkExercises">Exercises</a></li>
				<li class="nav"><a href="#" ng-click="linkClick($event, 'program')" ng-hide="hideLinkProgram">Program</a></li>
				<li class="nav"><a href="#" ng-click="linkClick($event, 'resources')" ng-hide="hideLinkResources">Resources</a></li>
			</ul>
		</div>
		<h1>Filler Page{{addPoint}}</h1>
		<div class="main-content">
			<h1>JS4.1: Intro to Angular{{addPoint}}</h1>
			<h1>Skills{{addPoint}}</h1>
			<ul>
				<li>Angular</li>
				<li>Binding Data to the Dom</li>
				<li>Event Handling</li>
			</ul>
			<h1>Requirement{{addPoint}}</h1>
			<h2>Part I{{addPoint}}</h2>
			<ol>
				<li>Create an HTML page</li>
				<li>Add an ng-click directive</li>
				<li>Change the behavior</li>
				<li>Add another button</li>
			</ol>
			<h2>Part II{{addPoint}}</h2>
			<ol>
				<li>Create an HTML page</li>
				<li>When a paragraph is moused over, do some shit.</li>
				<li>Add an exclamation point</li>
				<li>When a link is clicked, confirm that the user wants to navigate to that page</li>
				<li>When a link is clicked, make it disappear or something.</li>
			</ol>
			<h2>Part III{{addPoint}}</h2>
			<ol>
				<li>Create an HTML page</li>
				<li>When the giant button is clicked, make a popup</li>
				<li>Add a close button to the popup</li>
			</ol>
			<p ng-class="{ pink : paragraphPink }" ng-mouseEnter="addPink()" ng-mouseLeave="removePink()">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
		</div>
	</body>
</html> -->

<!DOCTYPE html>
<html ng-app="popupMod">
	<head>
		<title>Part 3</title>
		<link rel='stylesheet' href='js4-1.css'/>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js'></script>
		<script type='text/javascript' src='js4-1.js'></script>
	</head>
	<body ng-controller="popupRoller" class="bigBody">
		<div class='buttonBox' ng-click="popup($event)">
			<h2>Look at this big ass button!</h2>
			<h3>Click it...</h3>
			<button class='button'><h1>Click!</h1></button>
		</div>
		<div class="popup" ng-hide="hidePopup">
			<h1>Samuel L. Ipsum!</h1>
			<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
			<button ng-click="popup()">Close</button>
		</div>
	</body>
</html>