/*Part 2!!*/
/*.header {}
	position: fixed;
	width: 95%;
	border-bottom: 2px solid orange;
	top: 0;
	margin: 8px;
}

.navbar {
	text-align: right;
}

.nav {
	list-style-type: none;
	display: inline-block;
}

.main-content {
	margin-top: 115px;

}

.pink {
	color: pink;
}*/

.buttonBox {
	width: 50%;
	height: 50vh;
	margin: 25vh 25%;
	text-align: center;
	background-color: orange;
	border-radius: 15px;
}

.button {
	background-color: blue;
	vertical-align: middle;
	color: white;
}